---
import Layout from "@layouts/MoreLayout.astro";
---

<Layout>
  <section class="container mx-auto p-8">
    <h1 class="text-4xl font-bold mb-4 text-white">Personal Electronics Projects</h1>
    <div class="mb-8">
      <img src="/electronics.jpg" alt="Motherboard" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        I love to take apart computers and other electronic components to see how they work and see how I can repurpose them. My current project is converting an old Chromebook that I had lying around into an all in one terminal that can live on my bench.
      </p>
    </div>
    <div class="mb-8">
      <img src="/cbook.jpg" alt="Computer Parts" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        For this project, I have disassembled the laptop and plan to reuse the motherboard and screen in a custom 3D printed case to mount to my bench. I also plan to convert the keyboard to wireless to be able to move out of the way.
      </p>
    </div>
    <div class="mb-8">
      <img src="/pi.jpg" alt="Pi" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        Another project I have on the go is a custom guitar pedal that I am building using a Raspberry Pi 2 that I had lying around. I am planning to install an open source signal processing library on it and design and print a case with some potentiometers mapped to IO on the Pi.
      </p>
    </div>
  </section>
</Layout>