---
import Layout from "@layouts/MoreLayout.astro";
---

<Layout>
  <section class="container mx-auto p-8">
    <h1 class="text-4xl font-bold mb-4 text-white">Guitar Build and Repair</h1>
    <div class="mb-8">
      <img src="/guitars.jpg" alt="Guitars" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        I am also passionate about music and an adequate guitar player. I carry over my passion for tinkering, learning and fixing into this world as well and have done a few custom builds for myself and repairs for friends.
      </p>
    </div>
    <div class="mb-8">
      <img src="/strat.jpg" alt="Stratocaster" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        This knockoff Stratocaster was given to me by a family friend in rough shape. I completely disassembled the guitar, gave the body a relic finish and replaced all of the electronics with new components. This process taught me a lot about how the guitar worked and allowed me to practice my soldering skills.
      </p>
    </div>
    <div class="mb-8">
      <img src="/lp.jpg" alt="Les Paul" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        This Les Paul was one of my first guitars and first projects. I replaced the pickups with a new set of humbuckers and replaced all of the potentiometers with higher quality ones.
      </p>
    </div>
  </section>
</Layout>