---
import Layout from "@layouts/MoreLayout.astro";
---

<Layout>
  <section class="container mx-auto p-8">
    <h1 class="text-4xl font-bold mb-4 text-white">3D Printing Projects</h1>
    <div class="mb-8">
      <img src="/print.jpg" alt="Printer" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        In December, I got my firest 3D printer, an Elegoo Neptun 4 Pro. Since then, I have been printing a variety of things, mostly functional prints to solve storage problemns in my workshop. I also have used it to print all the server rack components in my Homelab. <br><br>
        This new hobby has taught me a lot about 3D modelling, debugging and problem solving print issues and has been a great way for me to better understand physical design of components for manufacturing.
      </p>
    </div>    
  </section>
</Layout>