---
import Layout from "@layouts/MoreLayout.astro";
---

<Layout>
  <section class="container mx-auto p-8">
    <h1 class="text-4xl font-bold mb-4 text-white">Stock Car Racing</h1>
    <div class="mb-8">
      <img src="/turn4.jpg" alt="Racecar" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        Throughout high school and university, my dad and I built, repaired and drove Bonestock racecars at Delaware and Grand Bend Speedways. During this time, I went through 4 iterations of cars that started as street cars that we gutted and modified for safety and track performance. Off the track, I learned a ton about automotive, mechanics and setting up suspension components, transmissions and engines. On the track, I learned racing strategy and how to push a car right to the limit in all situations <br><br>
        This experience taught me a lot about working with my hands, problem solving and working under pressure. There was a lot of late nights fixing and preparing including frequent transmission swaps at 2am to prep for a back to back race at a different track requiring a different gear ratio. We experienced a lot of on track sucess, often finishing in the top 5 in races with 30-40 cars. We also experienced a lot of on track misfortune and I had to learn a lot about fixing wrecked racecars. <br><br>
        In addition to my own racecar, I also helped out with the Brandy Point Racing Team's V8 Stock and Super Stock Cars at Delaware Speedway.
      </p>
      <img src="/superstock.jpg" alt="Racecar" class="w-full rounded-lg shadow-lg mb-4">
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
      <img src="/del1.jpg" alt="Racecar 1" class="w-full h-48 object-cover rounded-lg shadow-lg">
      <img src="/del2.jpg" alt="Racecar 2" class="w-full h-48 object-cover rounded-lg shadow-lg">
      <img src="/del3.jpg" alt="Racecar 3" class="w-full h-48 object-cover rounded-lg shadow-lg">
      <img src="/del4.jpg" alt="Racecar 4" class="w-full h-48 object-cover rounded-lg shadow-lg">
      <img src="/del5.jpg" alt="Racecar 5" class="w-full h-48 object-cover rounded-lg shadow-lg">
      <img src="/del6.jpg" alt="Racecar 6" class="w-full h-48 object-cover rounded-lg shadow-lg">
    </div>
  </section>
</Layout>