---
import Layout from "@layouts/MoreLayout.astro";
---

<Layout>
  <section class="container mx-auto p-8">
    <h1 class="text-4xl font-bold mb-4 text-white">This Website</h1>
    <div class="mb-8">
      <img src="/site.jpg" alt="Astro" class="w-full rounded-lg shadow-lg mb-4">
      <p class="text-neutral w-auto text-base md:pr-5">
        A true testament to my love of  learning, for this portfolio, I decided it was a good excuse to learn something new. I researched web development frameworks and site hosting and decided to learn by creating this website. <br><br>
        This site was created using the Astro Framework and hosted on Cloudflare under my existing domain. I started with a template but tried to challenge myself to customize and add as much as possible to it while still being able to meet the deadline. 
        I learned a lot about modern web frameworks through this venture and have gained a new interest in web development which I hope I have time to continue to learn in the future.
      </p>
      <div>
        <a href="https://github.com/bdavey07/about" class="text-blue-500 hover:underline" target="_blank" rel="noopener noreferrer">
          View the source code on GitHub
        </a>
      </div>
    </div>
  </section>
</Layout>