---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { AboutProps, HeroProps } from "@types";

type Props = AboutProps & Pick<HeroProps, "name">;

const { description, image, name } = Astro.props;
---

<Section text="About Me" href="about">
  <div class="flex gap-12 md:gap-8 flex-col items-center md:flex-row items-start">
    <p class="text-neutral w-auto text-base md:pr-5">{description}</p>
    <figure class="w-64 h-80 flex-shrink-0 self-start">
      <Image
        class="object-cover"
        src={image}
        width="260"
        height="260"
        alt={name}
      />
      <figcaption class="text-center mt-2 text-sm text-neutral">
        My wife Abbey, son William and I<br />My workshop
      </figcaption>
    </figure>
  </div>
</Section>